body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-style: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

// Change Bootstrap Grid System
@media (min-width: 320px) and (max-width: 575px) {
    .container {
        width: 320px;
    }
}


// img small
// width: 290 / 580
// height: 341 / 682