// Зкидаємо відступи для списку
@mixin ul-padding-margin-null {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

// Стилі для переоприділення тексту
@mixin for-text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    color: $main-text-color;
}